<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270332453827-q90bv47rojh1k3rf70pfjgjfvev74f25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270332453827-q90bv47rojh1k3rf70pfjgjfvev74f25</string>
	<key>API_KEY</key>
	<string>AIzaSyCeptVGcf91jddPfwmmUZ4ocTDoYNj1cYA</string>
	<key>GCM_SENDER_ID</key>
	<string>270332453827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jr.hafeez.Twitter-Clone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-4ba75</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-4ba75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270332453827:ios:35f33f4f363731af2e9376</string>
</dict>
</plist>